<h2>Search</h2>
<div ng-include="'/partials/alert.html'"></div>
<input ng-model="query">
<button ng-click='doSearch(query)'>Search</button>
<ul>
    <li data-ng-repeat="item in beers.response.beers.items"><img ng-src="{{item.beer.beer_label}}" alt="Smiley face" height="42" width="42"> {{item.beer.beer_name}}, {{item.beer.beer_style}}, {{item.beer.beer_abv}} <img ng-src="{{item.brewery.brewery_label}}"> <a href="{{item.brewery.contact.url}}">{{item.brewery.brewery_name}}</a></li>
</ul>
<!-- <pre>{{beers.response.beers | json}}</pre> !-->
Welcome {{currentUser.name || "Anon"}}